<ion-view title="Empresa" id="page4">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/OSrSMkITQuM7sfwQfqFQ_etecsv_sem_bandeira.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div>
            <img src="img/cdannhsRU2KMADQSymyt_etec_saovicente.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="empresa-markdown1" style="color:#000000;"></div>
        <h3 id="empresa-heading1" style="color:#000000;">MISSÃO</h3>
        <div id="empresa-markdown2" style="color:#000000;font-size:14px;">
            <p>Oferecer a Educação Básica e Educação Profissional aos jovens e adultos do município de São Vicente e região para que sejam felizes, produtivos, capazes de melhorar sua própria vida e de todos os espaços em que convivem.</p>
        </div>
        <div>
            <hr>
        </div>
        <h1 id="empresa-heading2" style="color:#000000;"></h1>
        <h3 id="empresa-heading3" style="color:#000000;">VISÃO</h3>
        <div id="empresa-markdown3" style="color:#000000;font-size:14px;">
            <p>Ser uma Etec reconhecida na região pelos padrões de qualidade no oferecimento da Educação Básica (Ensino Médio) e Educação Profissional, articulada com o mercado de trabalho para diminuir a distância entre a escola e a empregabilidade.</p>
        </div>
        <div>
            <hr>
        </div>
        <h3 id="empresa-heading4" style="color:#000000;">VALORES</h3>
        <div id="empresa-markdown4" style="color:#000000;">
            <p>União, cooperação,</p>
        </div>
    </ion-content>
</ion-view>